<a
  href="<%= firefox_addon_url %>"
  target="_blank"
  rel="noopener noreferrer"
  class="inline-block hover:opacity-90 transition-opacity"
>
  <%= image_tag "marketing/firefox-addons-badge.png",
    alt: "Get the Add-on for Firefox",
    class: "h-14 w-auto",
    width: 172,
    height: 60 %>
</a>
